/*-------для всех все сбрасываем-----------*/
body, button, h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}
/*--*/
*{
    box-sizing: border-box;
}
/*body*/
body{
    background: rgb(41, 41, 41);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(228, 228, 228);
}
/*--*/
.content{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
    width: 100%;
    height:100vh;
    
    margin: auto;
    background: rgb(88, 88, 88);
}
/*--*/
.title{
    font-size: 3.2vw;
    text-align: center;
    padding: 1vw 0 3vw;
    position: relative;
}
/*--*/
.container_body{
    display: flex;
    justify-content:space-between;
    max-width: 58vw;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid  	#20B2AA;
    border-radius: 10px;
    background-color:  	#20B2AA;
}
.container_input{
    flex: 0 0 20vw;
    /* border: 1px solid silver; */
}
.input{
    max-width: 20vw;
    max-height: 30px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
}
.input:placeholder-shown{
    text-overflow: "\01F4E7";
}
.container_btn{
    flex: 0 0 4vw;
    /* border: 1px solid silver; */
    font-size: 20px;
    padding: auto;   
}
.container_btn:hover{
    cursor: pointer;
}
.container_output{
    flex: 0 0 32vw;
    /* padding: 5px; */
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(88, 88, 88);
}
/*--*/